html, body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: maroon;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;

}

.title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: ghostwhite;
    text-shadow: 4px 4px black;
}

.title2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px black;
}

.column {
  float: left;
  width: 25%;
  padding: 15px;
  margin: 20px;
  background-color:palevioletred;
  text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


button {
  border: none;
  outline: none;
  background-color: palevioletred;
  cursor: pointer;
  padding: 15px 25px;

}

button:hover {
    transform: translateY(4px);
}

button:active {
    border: 2px solid palevioletred;
    box-shadow: 5px 5px maroon;
}

img {
    position: relative;
    width: 125px;
    height: 125px;
    object-fit: cover;
}

hr {
  border: 3px solid maroon;
  border-radius: 2px;
}


@media screen and (max-width:767px) {
    .column {
        width: 600px;
    }

    header {
        width: 600px;
    }
}


@media screen and (max-width:640px) {
    .column {
      width: 500px;
     
    }

    header {
        width: 500px;
    }
  
  }


